body {

/* background-color: #614d4d; */
/* background-color: #0d8222; */
/* background-color: #13c8be; */
/* background-color: #d7ab04; */
 /*  background-color: #04d773; */
background-color: #625565;  
color: #f7f7f7; 
   /*color: #04be65;*/
/* font-family: 'Montserrat Subrayada', sans-serif; */
/* font-family: 'Laila', serif; */
font-family: 'Roboto', sans-serif;
}

h1 {
	margin-left: 60px;
	font-size: 35px;
}

.content {
background-color: #b1acb9;
border: 3px solid white;
text-align: center;
margin-top: 60px;

}

.entry-field {
	list-style: none;

}

.button-button {
	display: inline;
}

h2 {
	margin-left: 60px;
}

.answers {
	color: #000000;
}





